@import "tailwindcss";

html,
body,
#root {
  width: 350px;
  min-width: 350px;
  max-width: 400px;
  height: auto;
  min-height: 0;
  max-height: none;
  margin: 0;
  padding: 0;
  background: #f8fafc;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
